<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Trove</title>
        <link href="/beer.min.css" rel="stylesheet">
        <link href="/beertheme.css" rel="stylesheet">
        <script type="module" src="/beer.min.js"></script>
    </head>
    <body class="light" style="background-color: orange;">
        <%- include('header.ejs') %>
        <main class="responsive center-align">
            <div class="grid">
            <% recipes.forEach(recipe => { %>
                <a href="<%= recipe.slug %>" class="round s6 l3">
                <article class="padding margin round">
                    <img src="<%= recipe.imageUrl %>" alt="Image for <%= recipe.title %>" class="responsive top-round no-padding">
                    <p><%= recipe.title %></p>
                </article>
                </a>
                <% }); %>
            </div>
            <a href="add.html">
                <button class="surface square round extra large-elevate">
                    <i>add</i>
                </button>
            </a>      
        </main>
        <%- include('footer.ejs') %>
    </body>
</html>
