<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="/beer.min.css" rel="stylesheet">
        <link href="/beertheme.css" rel="stylesheet">
        <script type="module" src="/beer.min.js"></script>
    </head>
    <body class="light">
        <main class="responsive">
            <h1><%= title %></h1>
            <p><%= category %></p>
            <p><%= ingredients %></p>
            <p><%= instructions %></p>
        </main>
    </body>
</html>
