<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="/beer.min.css" rel="stylesheet">
        <link href="/beertheme.css" rel="stylesheet">
        <script type="module" src="/beer.min.js"></script>
    </head>
    <body class="light" style="background-color: var(--primary)">
        <%- include('header.ejs') %>
        <main class="responsive">
            <article class="padding margin round">
                <!--<img class="responsive small top-round" src="/beer-and-woman.svg">-->
                <div class="padding">
                    <h2><%= title %></h2>

                    <h5>Ingredients:</h5>
                    <ul>
                        <% ingredients.forEach(ingredient => { %>
                            <li><%= ingredient %></li>
                        <% }); %>
                    </ul>

                    <h5>Instructions:</h5>
                    <% instructions.forEach(instruction => { %>
                        <p><%= instruction %></p>
                    <% }); %>
                </div>
            </article>
        </main>
        <%- include('footer.ejs') %>
    </body>
</html>
